/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --text-font-family: 'Inter-Variable';
    --accent-font-family: 'PressStart2P';
    --text-font-weight: 400;
    --title-font-weight: 700;
    --font-size-accent: 14px;
    --font-size: 18px;
    --bg-color: #FFF;
    --button-color: #FFF;
    --accent-color: #000;
    --gradient-color: #d3d3d3;
    --gradient-color-from: #e7e7e7;
    --gradient-color-to: #1a1a1a;
    --svg-heart-contour: #000;
    --svg-heart-main-body: #FF0000;
    --stroke-color: rgba(255, 255, 255, 1);
}